:root {
  --veryDarkBlueBackground: hsl(233, 47%, 7%);
  --darkDesaturatedBlueCard: hsl(244, 38%, 16%);
  --softViolet: hsl(277, 64%, 61%);
  --white: hsl(0, 0%, 100%);
  --slightlyTransparentWhiteMain: hsla(0, 0%, 100%, 0.75);
  --slightlyTransparentWhiteStats: hsla(0, 0%, 100%, 0.6);
}

html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
  line-height: 1.3;
  background-color: var(--veryDarkBlueBackground);
  color: var(--white);
  font-size: 0.9375rem;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.container {
  margin: 50px 25px;
  background-color: var(--darkDesaturatedBlueCard);
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
}

.description {
  margin: 45px 35px 0 35px;
}

.description p {
  margin-top: 25px;
}

h1 {
  font-size: 26px;
  font-weight: 700;
}

p {
  color: var(--slightlyTransparentWhiteMain);
  line-height: 1.8;
}

img {
  width: 100%;
}

.violet {
  color: var(--softViolet);
}

.stats {
  margin: 40px;
}

.stats p {
  font-family: "Lexend Deca", sans-serif;
  color: var(--slightlyTransparentWhiteStats);
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 12px;
  display: flex;
  flex-direction: column;
}

.stats p:not(:first-child) {
  margin-top: 38px;
}

.white {
  font-family: "Inter", sans-serif;
  color: white;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: normal;
}
