:root {
  --paleBlue: hsl(225, 100%, 94%);
  --brightBlue: hsl(245, 75%, 52%);
  --veryPaleBlue: hsl(225, 100%, 98%);
  --desaturatedBlue: hsl(224, 23%, 55%);
  --darkBlue: hsl(223, 47%, 23%);
}

html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Red Hat Display", sans-serif;
  font-size: 1rem;
  line-height: 1.3;
  min-height: 100vh;
  background-color: var(--desaturatedBlue);
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  background-color: white;
  max-width: 450px; /* temporary */
  border-radius: 1rem;
  text-align: center;
}

.hero__image {
  display: flex;
}

.hero__image > img {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.summary {
  padding: 0 80px;
}

.summary__title {
  margin-top: 30px;
}

h1 {
  display: inline;
  font-size: 1.7rem;
  font-weight: 900;
  color: var(--darkBlue);
}

.summary__description {
  font-size: 0.875rem;
  color: var(--desaturatedBlue);
  margin-top: 1.1rem;
  font-weight: 500;
  line-height: 1.5;
}

.plan {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--veryPaleBlue);
  border-radius: 1rem;
  margin: 20px 45px 0px 45px;
  padding: 20px;
  font-size: 0.875rem;
}

h2 {
  font-size: 0.875rem;
  font-weight: 900;
  color: var(--darkBlue);
}

.plan__type {
  display: flex;
  align-items: center;
}

.plan__description {
  display: inline-block;
  margin-left: 15px;
}

.plan__description p {
  color: var(--desaturatedBlue);
  padding-top: 3px;
}

.plan__change {
  color: var(--brightBlue);
  text-decoration: underline;
  transition: all 250ms ease-in-out;
}

.plan__change p:hover {
  cursor: pointer;
  opacity: 0.7;
}

.order__payment {
  background-color: var(--brightBlue);
  color: white;
  border-radius: 0.6rem;
  margin: 30px 45px 0px 45px;
  padding: 12px 20px;
  font-size: 0.875rem;
  font-weight: 700;
  box-shadow: 0px 20px 15px rgba(0, 0, 0, 0.1);
  transition: all 250ms ease-in-out;
}

.order__payment:hover {
  cursor: pointer;
  opacity: 0.7;
}

.order__cancel {
  font-size: 0.875rem;
  font-weight: 700;
  color: var(--desaturatedBlue);
  margin: 30px 0px 45px 0;
  transition: all 250ms ease-in-out;
}

.order__cancel:hover {
  cursor: pointer;
  color: var(--darkBlue);
}
